
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Hello, <%= @user.email %></h1>
  <p>
    You have requested a password reset.
    Click here to reset your password: <%= @url_reset %>.<br/>
  </p>
  <p>
    If you did not request a reset, simply ignore this email.
  </p>
  <p>Thanks and have a great day!</p>
  <br>
  <p> Anuj & Tim </p>
</body>
