<h1>Make a New Friend Circle!</h1>

<form action="<%= friend_circles_url %>" method="post">

  <input type="hidden" name="form_authenticity_token"
  value="<%= form_authenticity_token %>">

  <label for="friend_circle_name">Name Of Circle</label>
  <input type="text" name="friend_circle[name]" id="friend_circle_name">

  <br>

  <% @users.each do |user| %>

    <input type="checkbox" name="friend_circle_membership[friends][]" id="<%= user.id %>" value="<%= user.id %>">
    <label for="friend_name"><%= user.email %></label>
    <br>

  <% end %>

    <input type="submit" value="Create Friend Circle">
  </form>


</form>