<h1>New User Sign-up!</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="form_authenticity_token"
  value="<%= form_authenticity_token %>">

  <p>
  <label for="email">Email Address</label>
  <input type="text" id="email" name="user[email]">
  </p>

  <p>
  <label for="password">User Password</label>
  <input type="password" id="password" name="user[password]">
  </p>

  <input type="submit" value="Create User">

</form>