<h1>What's Your Email?</h1>

<h4>We will reset your password and send you an email!</h4>

<form action="<%= reset_password_url %>" method="post">

  <input type="hidden" name="form_authenticity_token"
  value="<%= form_authenticity_token %>">

  <p>
    <label for="email">Email Address</label>
    <input type="text" id="email" name="user[email]">
  </p>

  <input type="submit" value="Send Reset Email">
</form>