<h1>Create a New Password!</h1>

<h6>(And try not to forget it this time...)</h6>

<form action="<%= reset_password_url %>" method="post">

  <input type="hidden" name="_method" value="PUT">

  <input type="hidden" name="form_authenticity_token"
  value="<%= form_authenticity_token %>">

  <p>
    <label for="password">New Password</label>
    <input type="password" id="password" name="user[password]">
  </p>

  <input type="hidden" name="user[id]" value="<%= @user.id %>">
  <input type="submit" value="Reset Password">
</form>